.header {
    background-color: var(--primary-color-header);
    max-width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 156px;
}

.logo {
    justify-self: left;
}

.nav {
    justify-self: end;
    display: flex;
    gap: 100px;
}