.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--h-color);
    border: 1px oklch(0.97 0.01 -3 / 1) solid;
    /* darkmode */
    /* border: 1px oklch(0.03 0.01 177 / 1) solid; */
    padding: 32px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    background-color: var(--accent-color-clean);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: oklch(.984 .014 180.72);
    /* darkmode */
    /* background-color: oklch(0.016 0.014 0.72); */
    margin-bottom: 20px;
    border-radius: 8px;
}

.icon svg {
    width: 32px;
    height: 32px;
}

.icon path {
    stroke: var(--primary-color-main);
}

.card:hover path {
    stroke: var(--accent-color-clean);
} 

.card:hover .icon {
    background-color: var(--primary-color-main);
} 

.title {
    font-size: 1.2rem;
    margin: 0 0 12px 0;
    color: var(--secondary-color-text)
}

.description {
    color: var(--accent-color-neutral);
    font-weight: 500;
    margin: 0;
}