#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contentRow {
  padding: 80px 0;
}

.primaryBackground {
  background-color: var(--primary-color-main);
}

.whiteBackground {
  background-color: var(--accent-color-clean);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  height: 100vh;
  position: relative;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  text-align: center;
}

.innerContainer > h1 {
  margin: 0;
}
.innerContainer > p {
  font-size: 1.25rem;
  font-weight: 500;
}

.arrowDownContainer {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  animation: arrow 2s linear infinite;
  cursor: pointer;
}

.arrowDownContainer:hover {
  background-color: #aaa5a54f;
  border-radius: 50%;
}

.chevron {
  stroke: var(--accent-color-clean);
}

.cardContainer {
  display: grid;
}

@keyframes arrow {
  0% {
    transform: translate(0px, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }

  100% {
    transform: translate(0px, 0);
  }

}

/* Desktop (default styles) */
@media (min-width: 1025px) {
  
  .cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 156px;
  }

}

/* Tablet */
@media (max-width: 1024px) {
  .home {
    height: 100vh;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 24px
  }

  .arrowDownContainer {
    bottom: 60px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .home {
    height: 100vh;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 24px
  }

  .arrowDownContainer {
    bottom: 60px;
  }
}
