.footer {
    background-color: var(--primary-color-header);
    padding: 128px 156px 64px;
}

.footerContainer {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    gap: 40px;
}

.logo {
    padding: 10px 20px 0 0;
    justify-self: start;
}

.contact, .services, .company {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.linkContainer {
    display: flex;
    flex-direction: column;
}
.linkDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    text-decoration: none;
    transition: transform 0.3s ease;
    width: max-content;
    align-items: center;
}

.link {
    display: inline-block;
    color: var(--secondary-color-highligts);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.linkDiv:hover {
    transform: translateX(5px);
}
.link > p {
    display: block;
    margin: 0;
}

.icon {
    width: 20px;
    height: 16px;
}

.footerBottom {
    padding-top: 140px;
}

.footerBottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.6;
    color: #C3BFBF;
}

.copyright {
    display: flex;
}

.footerBottom P {
    margin: 0;
}

.policyLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.policyLinks > a {
    color: #C3BFBF;
}

.titleInfo {
    font-weight: 600;
    font-size: 1.2rem;
}